### Handling Imbalance DataSet
- Up Sampling
- Down Sampling

In [ ]:
import numpy as np
import pandas as pd

#Set The random seed for reproducibility
np.random.seed(123)

#Create a DataFrame with two class
n_sample = 1000
class_0_ratio = 0.9
n_class_0 = int(n_sample*class_0_ratio) # No of NO -> 900
n_class_1 = n_sample - n_class_0 # No of YES -> 100

In [4]:
n_class_0, n_class_1

(900, 100)

In [7]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [9]:
df = pd.concat([class_0,  class_1]).reset_index(drop=True)

In [ ]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [11]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

#### Up Sampling

In [13]:
## Up Sampling
df_majority = df[df['target'] == 0]
df_minority = df[df['target'] == 1]

In [19]:
from sklearn.utils import resample

In [21]:
df_minority_updated = resample(df_minority,replace=True,
        n_samples=len(df_majority),
        random_state=42
         )

In [22]:
df_minority_updated.shape

(900, 3)

In [23]:
df_minority_updated.tail()

     feature_1  feature_2  target
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

In [26]:
df_upsampled = pd.concat([df_majority,df_minority_updated])

In [32]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

#### Down Sampling

In [33]:
import numpy as np
import pandas as pd

#Set The random seed for reproducibility
np.random.seed(123)

#Create a DataFrame with two class
n_sample = 1000
class_0_ratio = 0.9
n_class_0 = int(n_sample*class_0_ratio) # No of NO -> 900
n_class_1 = n_sample - n_class_0 # No of YES -> 100

In [34]:
n_class_0, n_class_1

(900, 100)

In [35]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [36]:
df = pd.concat([class_0,  class_1]).reset_index(drop=True)

In [37]:
## Down Sampling
df_majority = df[df['target'] == 0]
df_minority = df[df['target'] == 1]

In [38]:
from sklearn.utils import resample

df_majority_updated = resample(df_majority, replace=False,
                               n_samples=len(df_minority),
                               random_state=42
                               )

In [39]:
df_majority_updated.shape

(100, 3)

In [40]:
df_downsample = pd.concat([df_majority_updated,df_minority])

In [42]:
df_downsample['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64